<h2>Client : {{client.nom}} {{client.prenom}}</h2>

<div *ngFor="let item of listProjet">
  <div class="project">
    <h3><b>Name Project</b>: {{item.nom}} <mat-icon style="cursor: pointer;vertical-align:middle;margin-bottom: 3px;"
        (click)="addTicket(item)">add_box</mat-icon></h3>
    <h3><b>Description</b> : {{item.description}}</h3>
    <div class="myTable">
      <div class="oneTable">
        <table class="table table-borderless">
          <thead class="headTable">
            <tr>
              <th style="text-align: center;">À faire</th>
            </tr>
          </thead>
          <tbody *ngFor="let ticket of listTicket">
            <div *ngIf="ticket.etat === 'A faire' && ticket.nomProjet == item.nom" class="ticket">
              <tr>
                <ng-container>
                  <td>
                    <div>

                      <h5><b>Name Ticket</b> : {{ticket.nom}}</h5>
                      <h5><b>Date Creation</b> : {{ticket.dateCreation | date}}</h5>
                      <h5><b>Developpeur</b> : {{ticket.nomDev}} {{ticket.prenomDev}}</h5>
                      <h5><b>Client</b> : {{ticket.nomClient}} {{ticket.prenomClient}}</h5>
                      <h5><b>Rapporteur</b> : {{ticket.nomRapporteur}} {{ticket.prenomRapporteur}}</h5>
                      <h5><b>Description</b> : {{ticket.description}}</h5>


                    </div>
                  </td>
                </ng-container>
              </tr>
            </div>
          </tbody>
        </table>
      </div>
      <div class="oneTable">
        <table class="table table-borderless">
          <thead class="headTable">
            <tr>
              <th style="text-align: center;">En cours</th>
            </tr>
          </thead>
          <tbody *ngFor="let ticket of listTicket">
            <div *ngIf="ticket.etat === 'En cours' && ticket.nomProjet == item.nom" class="ticket">
              <tr>
                <ng-container>
                  <td>
                    <div>

                      <h5><b>Name Ticket</b> : {{ticket.nom}}</h5>
                      <h5><b>Date Creation</b> : {{ticket.dateCreation | date}}</h5>
                      <h5><b>Developpeur</b> : {{ticket.nomDev}} {{ticket.prenomDev}}</h5>
                      <h5><b>Client</b> : {{ticket.nomClient}} {{ticket.prenomClient}}</h5>
                      <h5><b>Rapporteur</b> : {{ticket.nomRapporteur}} {{ticket.prenomRapporteur}}</h5>
                      <h5><b>Description</b> : {{ticket.description}}</h5>
                    </div>
                  </td>
                </ng-container>
              </tr>
            </div>
          </tbody>
        </table>
      </div>

      <div class="oneTable">
        <table class="table table-borderless">
          <thead class="headTable">
            <tr>
              <th style="text-align: center;">Terminé</th>
            </tr>
          </thead>
          <tbody *ngFor="let ticket of listTicket">
            <div *ngIf="ticket.etat === 'Termine' && ticket.nomProjet == item.nom" class="ticket">
              <tr>
                <ng-container>
                  <td>
                    <div>

                      <h5><b>Name Ticket</b> : {{ticket.nom}}</h5>
                      <h5><b>Date Creation</b> : {{ticket.dateCreation | date}}</h5>
                      <h5><b>Developpeur</b> : {{ticket.nomDev}} {{ticket.prenomDev}}</h5>
                      <h5><b>Client</b> : {{ticket.nomClient}} {{ticket.prenomClient}}</h5>
                      <h5><b>Rapporteur</b> : {{ticket.nomRapporteur}} {{ticket.prenomRapporteur}}</h5>
                      <h5><b>Description</b> : {{ticket.description}}</h5>

                    </div>
                  </td>
                </ng-container>
              </tr>
            </div>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>