<label><b>Ticket Name</b></label><br>
<input class="input100" type="text" [(ngModel)]="ticket.nom" name="nameTicket" placeholder="Name Ticket">
<br>
<label><b>Développeur</b></label><br>
<select class="input100" [(ngModel)]="selectedDev">
  <option value="0" selected="selected">--Choisissez un développeur--</option>
  <option *ngFor="let dev of listDev" [value]="dev.idUtilisateur">{{ getUser(dev.idUtilisateur).nom }} {{
    getUser(dev.idUtilisateur).prenom }}</option>
</select>
<br>
<label><b>Client</b> : {{client.nom}} {{client.prenom}}</label>
<br>
<label><b>Rapporteur</b> : {{ticket.nomRapporteur}} {{ticket.prenomRapporteur}}</label>
<br>
<label><b>Description</b></label><br>
<input class="input100" type="text" [(ngModel)]="ticket.description" name="ticketDescription" placeholder="Ticket Description">
<br>
<label><b>Etat du ticket</b></label><br>
<select class="input100" name="etat" [(ngModel)]="ticket.etat">
  <option value="">--Choisissez un type--</option>
  <option value="A faire">A faire</option>
  <option value="En cours">En cours</option>
  <option value="Termine">Terminé</option>
</select>
<br><br>
<div style="display:block; width:10%; margin: 0 auto;">
  <mat-icon style="cursor: pointer; color: green;" (click)="addTicket()">check_circle</mat-icon>
  <mat-icon style="cursor: pointer; color: red;" (click)="annuleAdd()">cancel</mat-icon>
</div>
