<div *ngIf="ticket">
    <p>Êtes-vous sûr de vouloir supprimer ce ticket ?</p>
    <h5><b>Name Ticket</b> : {{ticket.nom}}</h5>
    <h5><b>Date Creation</b> : {{ticket.dateCreation}}</h5>
    <h5><b>Developpeur</b> : {{ticket.nomDev}} {{ticket.prenomDev}} </h5>
    <h5><b>Client</b> : {{ticket.nomClient}} {{ticket.prenomClient}} </h5>
    <h5><b>Rapporteur</b> : {{ticket.nomRapporteur}} {{ticket.prenomRapporteur}}</h5>
    <h5><b>Description</b> : {{ticket.description}}</h5>
    <h5><b>Etat</b> : {{ticket.etat}} </h5>

    <button class="btn btn-danger" (click)="deleteTicket()" style="cursor: pointer">Delete</button>
    <button class="btn btn-primary" (click)="close()" style="cursor: pointer">Close</button>

</div>

<div *ngIf="user">
    <p>Êtes-vous sûr de vouloir supprimer cet utilisateur ?</p>

    <h5><b>Nom</b> : {{user.nom}} </h5>
    <h5><b>Prénom</b> : {{user.prenom}} </h5>
    <h5><b>Login</b> : {{user.login}} </h5>
    <h5><b>Type</b> : {{user.type}} </h5>

    <button class="btn btn-danger" (click)="deleteUser()" style="cursor: pointer">Delete</button>
    <button class="btn btn-primary" (click)="close()" style="cursor: pointer">Close</button>

</div>