

<h1>Add Projet </h1>

<input type="text" [(ngModel)]="newProjet.nom"  placeholder="Project Name">
<input type="text" [(ngModel)]="newProjet.description"  placeholder="Description">

<mat-form-field appearance="fill">
  <mat-label>Toppings</mat-label>
  <mat-select [formControl]="toppings" multiple>
    <mat-option *ngFor="let client of listClient" [value]="client.idUtilisateur">{{ getUser(client.idUtilisateur).nom }} {{ getUser(client.idUtilisateur).prenom }}</mat-option>
  </mat-select>
</mat-form-field>


<mat-icon  style="cursor: pointer; color: green;" (click)="createNewprojet()">check_circle</mat-icon>


<p>Options sélectionnées : {{ selectedListClient }}</p>

<ul>
    <li *ngFor="let client of listClient">
      {{ client.nom }} {{ client.prenom }} ({{ client.login }})
      <mat-icon style="cursor: pointer; " (click)="detailClient(client)">subject</mat-icon>
    </li>
  </ul>
  