<h1>Add User </h1>

<input type="text" [(ngModel)]="userToAdd.nom" name="nom" placeholder="Name">
<input type="text" [(ngModel)]="userToAdd.prenom" name="prenom" placeholder="Fist Name">
<input type="text" [(ngModel)]="userToAdd.login" name="login" placeholder="Login">
<input type="password" [(ngModel)]="userToAdd.password" name="password" placeholder="Password">
<select name="type" [(ngModel)]="userToAdd.type">
  <option value="">--Choisissez un type--</option>
  <option value="Client">Client</option>
  <option value="Dev">Développeur</option>
  <option value="Admin">Admin</option>
</select>

<button (click)="addUser()" >ADD</button>



<h1>List User </h1>
<ul>
    <li *ngFor="let user of listUser">
      <div *ngIf="user != userToModify" style=" display: inline-block;">
      {{ user.nom }} {{ user.prenom }} ({{ user.login }}){{user.type}}
      <button (click)="modify(user)" >MODIFY</button>
      <button (click)="delete(user)" >DELETE</button>
    </div>
    <div *ngIf="user == userToModify">
      <input type="text" [(ngModel)]="userToModify.nom" name="nom" placeholder="Name">
      <input type="text" [(ngModel)]="userToModify.prenom" name="prenom" placeholder="Fist Name">
      <input type="text" [(ngModel)]="userToModify.login" name="login" placeholder="Login">
      <button (click)="saveModif()" >SAVE</button>
      <button (click)="cancelModif()" >CANCEL</button>
      <button (click)="delete(user)" >DELETE</button>

    </div>
      <br/>
    </li>
  </ul>
  