<div *ngFor="let item of listProjet">
  <div class="project">
    <h3><b>Project</b>: {{item}}</h3>
    <div class="myTable">
      <div class="oneTable">
        <table class="table table-borderless">
          <thead class="headTable">
            <tr>
              <th style="text-align: center;">À faire</th>
            </tr>
          </thead>
          <tbody *ngFor="let ticket of listTicket">
            <div *ngIf="ticket.etat === 'A faire' && ticket.nomProjet == item" class="ticket">
              <div style="float:right;margin:5px 5px 0 0;">
                <mat-icon style="cursor: pointer;" (click)="editTicket(ticket)"
                  *ngIf="user.type =='Admin'">edit</mat-icon>
                <mat-icon style="cursor: pointer; color: red;" *ngIf="user.type == 'Admin'"
                  (click)="openModalDelete(ticket)">delete_outline</mat-icon>
              </div>
              <tr>
                <ng-container>
                  <td>
                    <div>
                      <div *ngIf="ticket != ticketToEdit">

                        <h5><b>Name Ticket</b> : {{ticket.nom}}</h5>
                        <h5><b>Date Creation</b> : {{ticket.dateCreation | date}}</h5>
                        <h5><b>Developpeur</b> : {{ticket.nomDev}} {{ticket.prenomDev}}</h5>
                        <h5><b>Client</b> : {{ticket.nomClient}} {{ticket.prenomClient}}</h5>
                        <h5><b>Rapporteur</b> : {{ticket.nomRapporteur}} {{ticket.prenomRapporteur}}</h5>
                        <h5><b>Description</b> : {{ticket.description}}</h5>
                      </div>
                      <div *ngIf="ticket == ticketToEdit && user.type == 'Admin'">
                        <label>Ticket Name : </label><input class="input100" type="text" [(ngModel)]="ticketToEdit.nom"
                          name="nameTicket" placeholder="Name Ticket">
                        <br>
                        <label>Développeur : </label> <select class="input100" [(ngModel)]="selectedDev">
                          <option *ngFor="let dev of listDev" [value]="dev.idUtilisateur">{{
                            getUser(dev.idUtilisateur).nom }} {{ getUser(dev.idUtilisateur).prenom }}</option>
                        </select>
                        <br>
                        <label>Client : </label> <select class="input100" [(ngModel)]="selectedClient">
                          <option *ngFor="let client of listClient" [value]="client.idUtilisateur">{{
                            getUser(client.idUtilisateur).nom }} {{ getUser(client.idUtilisateur).prenom }}</option>
                        </select>
                        <br>
                        <label>Rapporteur : </label> <select class="input100" [(ngModel)]="selectedRapporteur">
                          <option *ngFor="let rapporteur of listRapporteur" [value]="rapporteur.idUtilisateur">{{
                            getUser(rapporteur.idUtilisateur).nom }} {{ getUser(rapporteur.idUtilisateur).prenom }}
                          </option>
                        </select>
                        <br>
                        <label>Description : </label> <input class="input100" type="text"
                          [(ngModel)]="ticketToEdit.description" name="ticketDescription"
                          placeholder="Ticket Description">

                        <br>
                        <div style="display:block; width:20%; margin: 0 auto;">
                          <mat-icon style="cursor: pointer; color: green;"
                            (click)="updateTicket()">check_circle</mat-icon>
                          <mat-icon style="cursor: pointer; color: red;" (click)="annuleModif()">cancel</mat-icon>
                        </div>
                      </div>

                    </div>
                  </td>
                </ng-container>
              </tr>
              <div style="display:block; margin: 0 auto; width: 60%;">
                <button class="btn button" (click)="changeStateTicket('A faire',ticket)" [disabled]="true">À
                  faire</button>
                <button class="btn button" (click)="changeStateTicket('En cours',ticket)">En cours</button>
                <button class="btn button" (click)="changeStateTicket('Termine',ticket)">Terminé</button>

              </div>
            </div>
          </tbody>
        </table>
      </div>
      <div class="oneTable">
        <table class="table table-borderless">
          <thead class="headTable">
            <tr>
              <th style="text-align: center;">En cours</th>
            </tr>
          </thead>
          <tbody *ngFor="let ticket of listTicket">
            <div *ngIf="ticket.etat === 'En cours' && ticket.nomProjet == item" class="ticket">
              <div style="float:right;margin:5px 5px 0 0;">
                <mat-icon style="cursor: pointer;" (click)="editTicket(ticket)"
                  *ngIf="user.type =='Admin'">edit</mat-icon>
                <mat-icon style="cursor: pointer; color: red;" *ngIf="user.type == 'Admin'"
                  (click)="openModalDelete(ticket)">delete_outline</mat-icon>
              </div>
              <tr>
                <ng-container>
                  <td *ngIf="ticket != ticketToEdit">
                    <div>
                      <div>

                        <h5><b>Name Ticket</b> : {{ticket.nom}}</h5>
                        <h5><b>Date Creation</b> : {{ticket.dateCreation | date}}</h5>
                        <h5><b>Developpeur</b> : {{ticket.nomDev}} {{ticket.prenomDev}}</h5>
                        <h5><b>Client</b> : {{ticket.nomClient}} {{ticket.prenomClient}}</h5>
                        <h5><b>Rapporteur</b> : {{ticket.nomRapporteur}} {{ticket.prenomRapporteur}}</h5>
                        <h5><b>Description</b> : {{ticket.description}}</h5>
                      </div>
                      <div *ngIf="ticket == ticketToEdit && user.type == 'Admin'">
                        <label>Ticket Name : </label><input class="input100" type="text" [(ngModel)]="ticketToEdit.nom"
                          name="nameTicket" placeholder="Name Ticket">
                        <br>
                        <label>Développeur : </label> <select class="input100" [(ngModel)]="selectedDev">
                          <option *ngFor="let dev of listDev" [value]="dev.idUtilisateur">{{
                            getUser(dev.idUtilisateur).nom }} {{ getUser(dev.idUtilisateur).prenom }}</option>
                        </select>
                        <br>
                        <label>Client : </label> <select class="input100" [(ngModel)]="selectedClient">
                          <option *ngFor="let client of listClient" [value]="client.idUtilisateur">{{
                            getUser(client.idUtilisateur).nom }} {{ getUser(client.idUtilisateur).prenom }}</option>
                        </select>
                        <br>
                        <label>Rapporteur : </label> <select class="input100" [(ngModel)]="selectedRapporteur">
                          <option *ngFor="let rapporteur of listRapporteur" [value]="rapporteur.idUtilisateur">{{
                            getUser(rapporteur.idUtilisateur).nom }} {{ getUser(rapporteur.idUtilisateur).prenom }}
                          </option>
                        </select>
                        <br>
                        <label>Description : </label> <input class="input100" type="text"
                          [(ngModel)]="ticketToEdit.description" name="ticketDescription"
                          placeholder="Ticket Description">

                        <br>
                        <div style="display:block; width:20%; margin: 0 auto;">
                          <mat-icon style="cursor: pointer; color: green;"
                            (click)="updateTicket()">check_circle</mat-icon>
                          <mat-icon style="cursor: pointer; color: red;" (click)="annuleModif()">cancel</mat-icon>
                        </div>
                      </div>
                    </div>
                  </td>
                </ng-container>
              </tr>
              <div style="display:block; margin: 0 auto; width: 60%;">
                <button class="btn button" (click)="changeStateTicket('A faire',ticket)">À faire</button>
                <button class="btn button" (click)="changeStateTicket('En cours',ticket)" [disabled]="true">En
                  cours</button>
                <button class="btn button" (click)="changeStateTicket('Termine',ticket)">Terminé</button>
              </div>
            </div>
          </tbody>
        </table>
      </div>

      <div class="oneTable">
        <table class="table table-borderless">
          <thead class="headTable">
            <tr>
              <th style="text-align: center;">Terminé</th>
            </tr>
          </thead>
          <tbody *ngFor="let ticket of listTicket">
            <div *ngIf="ticket.etat === 'Termine' && ticket.nomProjet == item" class="ticket">
              <div style="float:right;margin:5px 5px 0 0;">
                <mat-icon style="cursor: pointer;" (click)="editTicket(ticket)"
                  *ngIf="user.type =='Admin'">edit</mat-icon>
                <mat-icon style="cursor: pointer; color: red;" *ngIf="user.type == 'Admin'"
                  (click)="openModalDelete(ticket)">delete_outline</mat-icon>
              </div>
              <tr>
                <ng-container>
                  <td>
                    <div>
                      <div *ngIf="ticket != ticketToEdit">

                        <h5><b>Name Ticket</b> : {{ticket.nom}}</h5>
                        <h5><b>Date Creation</b> : {{ticket.dateCreation | date}}</h5>
                        <h5><b>Developpeur</b> : {{ticket.nomDev}} {{ticket.prenomDev}}</h5>
                        <h5><b>Client</b> : {{ticket.nomClient}} {{ticket.prenomClient}}</h5>
                        <h5><b>Rapporteur</b> : {{ticket.nomRapporteur}} {{ticket.prenomRapporteur}}</h5>
                        <h5><b>Description</b> : {{ticket.description}}</h5>
                      </div>
                      <div *ngIf="ticket == ticketToEdit && user.type == 'Admin'">
                        <label>Ticket Name : </label><input class="input100" type="text" [(ngModel)]="ticketToEdit.nom"
                          name="nameTicket" placeholder="Name Ticket">
                        <br>
                        <label>Développeur : </label> <select class="input100" [(ngModel)]="selectedDev">
                          <option *ngFor="let dev of listDev" [value]="dev.idUtilisateur">{{
                            getUser(dev.idUtilisateur).nom }} {{ getUser(dev.idUtilisateur).prenom }}</option>
                        </select>
                        <br>
                        <label>Client : </label> <select class="input100" [(ngModel)]="selectedClient">
                          <option *ngFor="let client of listClient" [value]="client.idUtilisateur">{{
                            getUser(client.idUtilisateur).nom }} {{ getUser(client.idUtilisateur).prenom }}</option>
                        </select>
                        <br>
                        <label>Rapporteur : </label> <select class="input100" [(ngModel)]="selectedRapporteur">
                          <option *ngFor="let rapporteur of listRapporteur" [value]="rapporteur.idUtilisateur">{{
                            getUser(rapporteur.idUtilisateur).nom }} {{ getUser(rapporteur.idUtilisateur).prenom }}
                          </option>
                        </select>
                        <br>
                        <label>Description : </label> <input class="input100" type="text"
                          [(ngModel)]="ticketToEdit.description" name="ticketDescription"
                          placeholder="Ticket Description">

                        <br>
                        <div style="display:block; width:20%; margin: 0 auto;">
                          <mat-icon style="cursor: pointer; color: green;"
                            (click)="updateTicket()">check_circle</mat-icon>
                          <mat-icon style="cursor: pointer; color: red;" (click)="annuleModif()">cancel</mat-icon>
                        </div>
                      </div>
                    </div>
                  </td>
                </ng-container>
              </tr>
              <div style="display:block; margin: 0 auto; width: 60%;">
                <button class="btn button" (click)="changeStateTicket('A faire',ticket)">À faire</button>
                <button class="btn button" (click)="changeStateTicket('En cours',ticket)">En cours</button>
                <button class="btn button" (click)="changeStateTicket('Termine',ticket)"
                  [disabled]="true">Terminé</button>
              </div>
            </div>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>